/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
	scroll-behavior: smooth;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Audiowide', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

header nav li a.middle:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}


header nav li a.middle {
	position: relative;
}


header nav li a.middle:hover:before {
	visibility: visible;
	transform: scaleX(1);
  }


@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){

	header nav {
		flex-direction: column;
	}

	header nav li{
		margin: 0;
	}


	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 35px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

@media (max-width: 300px) {
	.hero h1 {
		font-size: 24px;
	}
}



/*--------------------
 	Services Section
---------------------*/

.services{
	background-color: #fff;
}

.services .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;


}

/*
.services .grid li.small{
	flex-basis: 40%;
}
*/

.services .grid li.large{
	flex-basis: 60%;
}

.services .grid li a {
	
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(#2980b9, #6dd5fa);
	color: #2f2f2f;

	display: flex;
	
	justify-content: center;
	align-content: center;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
}


@media (max-width: 1000px){

	.services .grid li.small,
	.services .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	bio Section
----------------------*/

.bio{
	background-color: #f7f7f7;
}

.bio .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.bio .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.bio .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.bio .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.bio .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.bio .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.bio .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}



/*---------------------
 	Contact Section
---------------------*/



.contact{
	background: linear-gradient(#8e9eab, #eef2f3);
	border-style: solid;
	
	
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 100%;


	
}

input, textarea {

	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	flex-wrap: wrap;
	box-shadow: 10px 5px 5px grey;

	align-items: center;
	justify-items: center;

	text-align: center;

	min-width: 40%;
	
	
	
}

/* button animation */

/* comment out old button version */

/*
.contact form button {
	background: linear-gradient(#2980b9, #6dd5fa);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	flex-wrap: wrap;
	box-shadow: 10px 5px 5px grey;

	align-items: center;
	justify-items: center;

	text-align: center;
	min-width: 10%;
	min-height: 20%;

}

*/

.contact form button {
	background: linear-gradient(#2980b9, #6dd5fa);
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
  }
  
  .contact form button:hover {
	background: #03e9f4;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 100px #03e9f4;
  }
  
  .contact form button span {
	position: absolute;
	display: block;
  }
  
  .contact form button span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
	0% {
	  left: -100%;
	}
	50%,100% {
	  left: 100%;
	}
  }
  
  .contact form button span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: btn-anim2 1s linear infinite;
	animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
	0% {
	  top: -100%;
	}
	50%,100% {
	  top: 100%;
	}
  }
  
  .contact form button span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: btn-anim3 1s linear infinite;
	animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
	0% {
	  right: -100%;
	}
	50%,100% {
	  right: 100%;
	}
  }
  
  .contact form button span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: btn-anim4 1s linear infinite;
	animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
	0% {
	  bottom: -100%;
	}
	50%,100% {
	  bottom: 100%;
	}
  }







/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}

/* webdev section */

.relief {
	color: #2196F3;
	font-weight: bold;
}

/* translation section */

#upwork {
	color: green;
}

#upwork:hover {
	text-decoration: underline;
	
}